<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sweater</title>
    <link rel="stylesheet" href="/static/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<!--NAGIGATION BAR-->
<nav class="navbar navbar-light" style="background-color: #5c5c5c;">
    <div class="text-left">
        <a class="navbar-brand" >
            <td th:text="${user.getEmail()}"></td>
            <td> with roles: </td>
            <td th:text="${user.getStringRoles()}">

        </a>
    </div>
    <a href="/logout" class="btn btn-secondary" role="button" aria-pressed="true">logout</a>
</nav>
<!-- конец NAGIGATION BAR-->
<nav class="navbar navbar-light" style="background-color: 	white">
<div class="container mt-5">
    <p><font size="7"  face="Arial">Admin panel</font></p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastname()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getStringRoles()}">
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Edit
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</nav>
    <!--Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
<!--            Modal body-->
            <div class="modal-body">
                <form th:method="POST" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}" th:each="user : ${users}" >
                    <div class="form-group text-center">
                        <label class="center-block">
                            <span class="font-weight-bold">ID</span>
                        </label>
                        <input type="text"
                               class="form-control collection-ville text-center"
                               th:value="*{id}"
                               th:name="id"/>
                    </div>
                    <div class="form-group text-center">
                        <label class="center-block">
                            <span class="font-weight-bold">First Name</span>
                        </label>
                        <input type="text"
                               class="form-control collection-ville text-center"
                               th:value="*{name}"
                               th:name="name"/>
                    </div>
                    <div class="form-group text-center">
                        <label class="center-block">
                            <span class="font-weight-bold">Last Name</span>
                        </label>
                        <input type="text"
                               class="form-control collection-ville text-center"
                               th:value="*{lastname}"
                               th:name="lastname"/>
                    </div>
                    <div class="form-group text-center">
                        <label class="center-block">
                            <span class="font-weight-bold">Age</span>
                        </label>
                        <input type="text"
                               class="form-control collection-ville text-center"
                               th:value="*{age}"
                               th:name="age"/>
                    </div>
                    <div class="form-group text-center">
                        <label class="center-block">
                            <span class="font-weight-bold">Email Adress</span>
                        </label>
                        <input type="text"
                               class="form-control collection-ville text-center"
                               th:value="*{email}"
                               th:name="email"/>
                    </div>
                    <!--                               placeholder="name@example.com"-->
                    <div class="form-group text-center">
                        <label class="center-block">
                            <span class="font-weight-bold">Password</span>
                        </label>
                        <input type="text"
                               class="form-control collection-ville text-center"
                               th:value="*{password}"
                               th:name="password"/>
                        <div class="form-group text-center">
                            <label class="center-block">
                                <span class="font-weight-bold">Role</span>
                            </label>

                                <div th:each="role : ${roles}">
                                   <td th:text="${user.getStringRoles()}">
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                    </form>
        </div>
        </div>
    </div>
</div>
    <!--Modal-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
