<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WEB</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!— Bootstrap CSS —>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<!--NAGIGATION BAR-->

<div class="container-fluid badge-dark p-3">
    <p class="d-inline"><strong th:text="${user.getEmail()}"></strong></p>
    <p class="d-inline">with roles:</p>
    <p class="d-inline"><strong th:text="${user.getStringRoles()} + ' USER'"></strong></p>
    <a href="/logout" class="btn btn-dark float-right table-hover-color-red mr-2 fs-1" role="button"
       aria-pressed="false">
        Logout
    </a>
</div>

<div class="container-fluid">
    <div class="row">
        <!— конец NAGIGATION BAR-->
        <div class="p-0 col-2 mt-3">
            <div class="nav nav-pills bg-white" role="tablist">
                <button class="text-left nav-link btn btn-block btn-outline-primary border active mb-0" id="adminBtn"
                        data-toggle="tab"
                        data-target="#mainAdmin"
                        type="button" role="tab" aria-controls="mainAdmin" aria-selected="true">
                    Admin
                </button>
                <button class="text-left nav-link btn btn-block btn-outline-primary border mt-0" id="userBtn"
                        data-toggle="tab"
                        data-target="#mainUser"
                        type="button" role="tab" aria-controls="mainUser" aria-selected="false">
                    User
                </button>
            </div>
        </div>
        <main class="background-color-gray p-0 col-10">
            <div class="tab-content mr-3">
                <div class="tab-pane fade show active" id="mainAdmin" role="tabpanel" aria-labelledby="adminBtn">
                    <div class="mt-3 ml-4">
                        <b><h1>Admin panel</h1></b>

                        <nav class="mt-3">
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                   href="#usersTableBtn"
                                   role="tab" aria-controls="usersTableBtn" aria-selected="true">User table</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#newUserBtn"
                                   role="tab" aria-controls="newUserBtn" aria-selected="false">New User</a>
                            </div>
                        </nav>
                        <!--        navbar links-->
                        <div class="tab-content">
                            <div class="card tab-pane fade show active background-color-white" id="usersTableBtn"
                                 role="tabpanel"
                                 aria-labelledby="nav-home-tab">
                                <div class="background-color-div-gray border-bottom pt-2">
                                    <b><h5 class="ml-3">All users</h5></b>
                                </div>
                                <div class="p-3">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${users}">
                                            <td th:text="${user.getId()}"></td>
                                            <td th:text="${user.getName()}"></td>
                                            <td th:text="${user.getLastname()}"></td>
                                            <td th:text="${user.getAge()}"></td>
                                            <td th:text="${user.getEmail()}"></td>
                                            <td>
                                                <div class="d-inline" th:each="roleUser : ${user.getRoles()}">
                                                    <p class="d-inline" th:text="${roleUser}"></p></div>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#exampleModal"
                                                        th:attrappend="data-target=${user.id}">
                                                    Edit
                                                </button>
                                                <!--Modal Body Edit-->
                                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                                     aria-labelledby="exampleModalLabel" aria-hidden="true"
                                                     th:attrappend="id=${user.id}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Edit
                                                                    user</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <!— Modal body-->
                                                            <div class="modal-body">
                                                                <form action="#" th:method="PATCH"
                                                                      th:action="@{/admin/{id}(id=${user.getId()})}"
                                                                      th:object="${user}">
                                                                    <div class="form-group text-center">
                                                                        <label class="center-block">
                                                                            <span class="font-weight-bold">ID</span>
                                                                        </label>
                                                                        <input type="text"
                                                                               class="form-control collection-ville text-center"
                                                                               th:value="${user.id}"/>
                                                                    </div>
                                                                    <div class="form-group text-center">
                                                                        <label class="center-block">
                                                                            <span class="font-weight-bold">First Name</span>
                                                                        </label>
                                                                        <input type="text"
                                                                               class="form-control collection-ville text-center"
                                                                               th:value="${user.name}"
                                                                               th:name="name"/>
                                                                    </div>
                                                                    <div class="form-group text-center">
                                                                        <label class="center-block">
                                                                            <span class="font-weight-bold">Last Name</span>
                                                                        </label>
                                                                        <input type="text"
                                                                               class="form-control collection-ville text-center"
                                                                               th:value="${user.lastname}"
                                                                               th:name="lastname"/>
                                                                    </div>
                                                                    <div class="form-group text-center">
                                                                        <label class="center-block">
                                                                            <span class="font-weight-bold">Age</span>
                                                                        </label>
                                                                        <input type="text"
                                                                               class="form-control collection-ville text-center"
                                                                               th:value="${user.age}"
                                                                               th:name="age"/>
                                                                    </div>
                                                                    <div class="form-group text-center">
                                                                        <label class="center-block">
                                                                            <span class="font-weight-bold">Email Adress</span>
                                                                        </label>
                                                                        <input type="text"
                                                                               class="form-control collection-ville text-center"
                                                                               th:value="${user.email}"
                                                                               th:name="email"/>
                                                                    </div>
                                                                    <!— placeholder="name@example.com"-->
                                                                    <div class="form-group text-center">
                                                                        <label for="passwordModalField"><strong>Password</strong></label>
                                                                        <input name="password" type="password"
                                                                               class="form-control "
                                                                               id="passwordModalField"/>
                                                                    </div>

                                                                    <div class="form-group text-center">
                                                                        <label class="center-block">
                                                                            <span class="font-weight-bold">Role</span>
                                                                        </label>

                                                                        <div>
                                                                            <select multiple class="custom-select"
                                                                                    id="roleModalForm"
                                                                                    th:size="${roles.size()}"
                                                                                    th:name="roles">
                                                                                <th:block th:each="role : ${roles}">
                                                                                    <option th:value="${role.getId()}"
                                                                                            th:text="${role.getRole()}"
                                                                                            th:selected="${user.getRoles().contains(role)}"></option>
                                                                                </th:block>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">
                                                                            Close
                                                                        </button>
                                                                        <button type="submit" class="btn btn-primary">
                                                                            Save changes
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Modal Body Edit END-->
                                            <td>

                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#deleteModal"
                                                        th:attrappend="data-target=${user.id}">
                                                    Delete
                                                </button>
                                                <!--                Delete Button-->
                                                <div class="modal fade" id="deleteModal" tabindex="-1"
                                                     aria-labelledby="deleteModalLabel" aria-hidden="true"
                                                     th:attrappend="id=${user.id}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteModalLabel">Edit
                                                                    user</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <!— Modal body-->
                                                            <div class="modal-body">
                                                                <form action="#" th:method="DELETE"
                                                                      th:action="@{/admin/{id}(id=${user.getId()})}"
                                                                      th:object="${user}">
                                                                    <div class="form-group text-center">
                                                                        <label class="center-block">
                                                                            <span class="font-weight-bold">ID</span>
                                                                        </label>
                                                                        <input type="text"
                                                                               class="form-control collection-ville text-center"
                                                                               th:value="${user.id}"/>
                                                                    </div>
                                                                    <div class="form-group text-center">
                                                                        <label class="center-block">
                                                                            <span class="font-weight-bold">First Name</span>
                                                                        </label>
                                                                        <input type="text"
                                                                               class="form-control collection-ville text-center"
                                                                               th:value="${user.name}"
                                                                               th:name="name"/>
                                                                    </div>
                                                                    <div class="form-group text-center">
                                                                        <label class="center-block">
                                                                            <span class="font-weight-bold">Last Name</span>
                                                                        </label>
                                                                        <input type="text"
                                                                               class="form-control collection-ville text-center"
                                                                               th:value="${user.lastname}"
                                                                               th:name="lastname"/>
                                                                    </div>
                                                                    <div class="form-group text-center">
                                                                        <label class="center-block">
                                                                            <span class="font-weight-bold">Age</span>
                                                                        </label>
                                                                        <input type="text"
                                                                               class="form-control collection-ville text-center"
                                                                               th:value="${user.age}"
                                                                               th:name="age"/>
                                                                    </div>
                                                                    <div class="form-group text-center">
                                                                        <label class="center-block">
                                                                            <span class="font-weight-bold">Email Adress</span>
                                                                        </label>
                                                                        <input type="text"
                                                                               class="form-control collection-ville text-center"
                                                                               th:value="${user.email}"
                                                                               th:name="email"/>
                                                                    </div>
                                                                    <!— placeholder="name@example.com"-->
                                                                    <div class="form-group text-center">
                                                                        <label class="center-block">
                                                                            <span class="font-weight-bold">Role</span>
                                                                        </label>

                                                                        <div>
                                                                            <select multiple class="custom-select"
                                                                                    id="DeleteRoleModalForm"
                                                                                    th:size="${roles.size()}"
                                                                                    th:name="roles">
                                                                                <th:block th:each="role : ${roles}">
                                                                                    <option th:value="${role.getId()}"
                                                                                            th:text="${role.getRole()}"
                                                                                            th:selected="${user.getRoles().contains(role)}"></option>
                                                                                </th:block>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">
                                                                            Close
                                                                        </button>
                                                                        <button type="submit" class="btn btn-primary">
                                                                            Delete
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--                Delete button end-->
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--                                    New User-->
                            <div class="card tab-pane fade background-color-div-gray" id="newUserBtn" role="tabpanel"
                                 aria-labelledby="newUserBtn">
                                <div class="w-100 border-bottom">
                                    <b><h5 class="my-2 ml-3">Add new user</h5></b>
                                    <div class="modal-body line-height-07 col-sm-6 offset-3">
                                        <div class="col-4">
                                        </div>
                                        <form th:method="POST" th:action="@{/admin/new}">
                                            <div class="form-group text-center">
                                                <label for="firstNameField"><strong>First name</strong></label>
                                                <input name="name" type="text" class="form-control" id="firstNameField"
                                                       placeholder="First name"/>
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="lastNameField"><strong>Last name</strong></label>
                                                <input name="lastname" type="text" class="form-control"
                                                       id="lastNameField"
                                                       placeholder="Last name"/>
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="ageField"><strong>Age</strong></label>
                                                <input name="age" type="number" class="form-control" id="ageField"
                                                       placeholder="Age"/>
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="emailField"><strong>Email</strong></label>
                                                <input name="email" type="email" class="form-control" id="emailField"
                                                       placeholder="Email"/>
                                            </div>
                                            <!— placeholder="name@example.com"-->
                                            <div class="form-group text-center">
                                                <label for="passwordField"><strong>Password</strong></label>
                                                <input name="password" type="password" class="form-control"
                                                       id="passwordField"
                                                       placeholder="Password"/>
                                            </div>

                                            <div class="form-group text-center">
                                                <label for="roleForm"><strong>Role</strong></label>
                                                <select multiple class="custom-select" id="roleForm"
                                                        th:size="${roles.size()}" th:name="roles">
                                                    <th:block th:each="role : ${roles}">
                                                        <option th:value="${role.id}" th:text="${role.role}"></option>
                                                    </th:block>
                                                </select>
                                            </div>

                                            <div class="modal-footer">
                                                <button class="btn btn-success" type="submit">
                                                    Add new user
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--                                    New User END-->
                        </div>
                    </div>
                </div>
<!--                User Page-->
                <div class="tab-pane fade" id="mainUser" role="tabpanel" aria-labelledby="userBtn">
                    <div class="mt-3 ml-4 mr-3">
                        <b><h1>User information-page</h1></b>
                    </div>
                    <div class="card mt-3 ml-4">
                        <div class="background-color-div-gray w-100 border-bottom">
                            <b><h5 class="my-2 ml-3">About user</h5></b>
                        </div>
                        <table class="table table-striped m-3 mb-4 w-auto">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <form th:text="${user.getId()}"></form>
                                </td>
                                <td>
                                    <form th:text="${user.getName()}"></form>
                                </td>
                                <td>
                                    <form th:text="${user.getLastname()}"></form>
                                </td>
                                <td>
                                    <form th:text="${user.getAge()}"></form>
                                </td>
                                <td>
                                    <form th:text="${user.getEmail()}"></form>
                                </td>
                                <td>
                                    <form class="d-inline" th:each="roleUser : ${user.getRoles()}"
                                          th:text="${roleUser} + ' '"></form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--                User Page END-->
            </div>

        </main>


    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>